@use '../abstract/variables';
@use '../abstract/mixins';

body{
    background: variables.$very-dark-blue;
    height: 100vh;
    font-family: variables.$font-stack;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mixins.layout('mobile'){
        // margin: 20px;
    }

    // @include mixins.layout('desktop') {
    //     font-size: 24px;
    // }
}