@use '../abstract/variables';
@use '../abstract/mixins';

// background colors
.--very-dark-blue   {
    background-color: variables.$very-dark-blue;
}

.--dark-blue{
    background-color: variables.$dark-blue;
}

.--orange   {
    background-color: variables.$orange;
}

.--medium-grey  {
    background-color: variables.$medium-grey;
}

// font colors
.--white    {   
    color: variables.$white;
}

.--light-grey   {
    color: variables.$light-grey;
}

// font weights
.--is-bold  {
    font-weight: variables.$font-bold;
}