@use '../abstract/variables';
@use '../abstract/mixins';

button  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    border: 0;


    @include mixins.layout('mobile'){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    @include mixins.layout('mini-mobile') {
        padding: 6%
      }

      @include mixins.layout('desktop'){
        font-size: 22px;
      }
}

