@use '../abstract/variables';
@use '../abstract/mixins';

button  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    @include mixins.layout('mobile'){
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }

    @include mixins.layout('mini-mobile') {
        padding: 6%
      }
}

.ratings__button    {
    @extend button;
    border-radius: 50px;
    background-color: variables.$medium-grey;
    color: variables.$light-grey;
    height: 5vw;
    width: 5vw;
}

.submit {
    @extend button;
    background-color: variables.$orange;
    color: variables.$white;
    border-radius: 15px;
    align-content: center;
    justify-self: center;
    width: 50vw;
    height: 6vw;
    margin-bottom: 4vh;
}
