@use '../abstract/variables';
@use '../abstract/mixins';

button  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 0;

      @include mixins.layout('desktop'){
        font-size: 22px;
      }
}

