@use '../abstract/variables';
@use '../abstract/mixins';


#star-icon{
    padding: 2rem;
    background: variables.$medium-grey;
    border-radius: 50%;
    width: 1rem;
    padding: 1rem;
    margin: 1rem;

}