@use '../abstract/variables';
@use '../abstract/mixins';

.prompt {
    color: variables.$white;
    margin-bottom: 1rem;

    @include mixins.layout('desktop'){
        font-size: 24px;
    }

}

.prompt__content  {
    color: variables.$light-grey;
    font-weight: variables.$font-normal;
    font-size: 14px;
    line-height: 1.6rem;
    margin-bottom: 3rem;
    width: 16rem;


    @include mixins.layout('desktop'){
        margin-bottom: 5rem;
        width: 25rem
    }

}