@use '../abstract/variables';
@use '../abstract/mixins';

.prompt {
    color: variables.$white;
    font-weight: variables.$font-normal;
    margin-left: 4vw;

    @include mixins.layout('mobile'){
        margin-bottom: 20px;
    }

    @include mixins.layout('desktop'){
        font-size: 24px;
        margin-left: 2vw;
    }

}

.prompt__content  {
    color: variables.$light-grey;
    font-weight: variables.$font-normal;
    font-size: 14px;
    margin-left: 4vw;

    @include mixins.layout('mobile'){
        color: variables.$light-grey;
        font-weight: variables.$font-normal;
        margin-bottom: 3rem;
    }

    // @include mixins.layout('mini-mobile') {
    //     font-size: 12px;
    // }

    @include mixins.layout('desktop'){
        margin-left: 2vw;
    }

}