@use '../abstract/variables';
@use '../abstract/mixins';

.ratings    {
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-top: -5vh;
}

#ratings-label  {
    visibility: hidden;
}

.ratings__button    {
    border-radius: 50px;
    background-color: variables.$medium-grey;
    color: variables.$light-grey;
    height: 5vw;
    width: 5vw;
}

.submit {
    background-color: variables.$orange;
    color: variables.$white;
    border-radius: 15px;
    align-content: center;
    justify-self: center;
    width: 50vw;
    height: 6vw;
    // clamp(50vw, )
    margin-bottom: 4vh;
    
    @include mixins.layout('desktop'){
        width: 35vw;
		height: 6vw;
        border-radius: 50px;
    }
}