@use '../abstract/variables';
@use '../abstract/mixins';

.wrapper    {
    background-color: variables.$dark-blue;
    border-radius: 15px;
    width: 20rem;
    height: 26rem;

    > * {
        margin-left: 1rem;
    }

    @include mixins.layout('desktop'){
        width: 30rem;
        height: 28rem;
    }
}