@use '../abstract/variables';
@use '../abstract/mixins';

.wrapper    {
    background-color: variables.$dark-blue;
    border-radius: 15px;

    > * {
        margin-left: 1rem;
    }

    @include mixins.layout('mobile'){
        width: 20rem;
        height: 25rem;
    }

    @include mixins.layout('desktop'){
        width: 20rem;
		height: 20rem;
    }
}