@use '../abstract/variables';
@use '../abstract/mixins';

.wrapper    {
    background-color: variables.$dark-blue;
    border-radius: 15px;

    > * {
        margin-left: 2vw;
    }

    @include mixins.layout('mobile'){
        width: 325px;
        height: 360px;
    }

    @include mixins.layout('mini-mobile'){
        height: 110vw;
    }

    @include mixins.layout('desktop'){
        width: 40vw;
		height: 40vw;
    }
}